<div class="container">
  <div class="row">
    <div class="col s10 offset-s1">
      <h4 id="title" *ngIf="!loading">Login Now</h4>
       <app-loading *ngIf="loading"></app-loading>
      <h6 class="center-align red-text text-darken-3">{{ errorMessage }}</h6>
      <form
        [formGroup]="loginForm"
        class="col s12"
        novalidate
        (ngSubmit)="loginUser()"
      >
        <div class="row">
          <div class="input-field col s12">
            <input type="text" formControlName="username" />
            <label>User Name</label>
            <span
              class="red-text text-darken-3"
              *ngIf="
                !loginForm.controls['username'].valid &&
                loginForm.controls['username'].touched
              "
              >Username is required</span
            >
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="password" formControlName="password" />
            <label>Password</label>
            <span
              class="red-text text-darken-3"
              *ngIf="
                !loginForm.controls['password'].valid &&
                loginForm.controls['password'].touched
              "
              >Password is required</span
            >
          </div>
        </div>
        <button class="btn waves-effect" [disabled]="!loginForm.valid">
          Sign Up
        </button>
      </form>
    </div>
  </div>
</div>
