<ul class="collection" *ngFor="let post of topPosts">
  <li class="collection-item avatar">
    <img src="http://placeimg.com/100/100/nature" alt="" class="circle" />
    <span class="title">{{ post.username }}</span>
    <p class="time">
      {{ timeAgo(post.createdAt) }}
      <br />
      Country
    </p>
  </li>
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <img src="http://placeimg.com/600/400/nature" alt="post image" />
        </div>
        <div class="card-content post-text">
          <p>{{ post.post }}</p>
        </div>
        <div class="card-action">
          <i
            class="material-icons"
            (click)="likePost(post)"
            [ngClass]="
              !areYouLike(post.likes, user.username) ? 'notliked' : 'liked'
            "
            >thumb_up</i
          >
          <span class="icon-span">{{ post.totalLikes }}</span>
          <i class="material-icons" [ngClass]="
              !areYouLike(post.comments, user.username) ? 'notliked' : 'liked'
            " (click)="goToComments(post)">comment</i>
          <span class="icon-span">{{ post.comments.length }}</span>
        </div>
      </div>
    </div>
  </div>
</ul>
