.title {
  font-weight: bold;
  color: #235789;
}

.time {
  font-size: 14px;
  color: #06d6a0;
}
.post-text {
  padding: 15px 5px !important;
}

.icon-Span {
  font-size: 22px;
  margin-right: 10px;
}

.material-icons {
  display: inline-flex;
  vertical-align: top;
  cursor: pointer;
  margin-left: 10px;
}

.card-action {
  border: none !important;
  padding-top: 0 !important;
  margin-left: -25px !important;
}

.collection {
  border: none !important;
}
.liked {
  color: #ffc107;
}
