.card-panel {
  margin: 0 0;
}
.bodyDiv {
  /* height: 100vh; */
  background-color: #EF476F;
}

div.bodyContainer {
  margin-top: 50px !important;
}

.tabs a {
  color: #118AB2;
  font-weight: bold;
  font-size: 25px;
  font-family: 'Koulen-main';
}

.tabs .active {
  background: inherit !important;
}

.auth-content {
  height: 70vh !important;
}


