.tabs .indicator {
  background-color: #ffd166;
}
input:not([type]):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #ffd166;
}
input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffd166;
  box-shadow: 0px 1px 0px 0px #ffd166;
}

.ngx-pagination .current {
  background: #06d6a0 !important;
}
.ngx-pagination {
  background: #ffd166 !important;
}
.alertify-notifier .ajs-message.ajs-warning {
  color: orangered;
  font-size: 20px;
}

.alertify-notifier .ajs-message.ajs-success {
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(253, 253, 253, 0.014);
  font-size: 20px;
  background-color: #06d6a0;
}

.alertify-notifier .ajs-message.ajs-error {
  color: ghostwhite;
  text-shadow: 0px 2px 2px rgba(255, 0, 34, 0.4);
  font-size: 20px;
}
