.collection {
  min-width: 280px;
}
.collection-header {
  max-height: 44px;
  text-align: center;
  padding: 10px 15px 10px 4px !important;
  font-weight: 500 !important;
}

.count {
  color: #06d6a0 !important;
  font-size: 18px !important;
  margin-left: 5px;
}
a {
  color: #235789;
  font-weight: 600 !important;
}
.active a {
  color: #ffd166 !important;
}
.active {
  background-color: #235789 !important;
}
